/* Estilos adicionales para hacerlo más profesional */

/* Estilo general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.6;
    background-color: #f7f7f7;
}

/* Encabezado */
header {
    background:rgba(53, 53, 53, 0.85);
    color: #fff;
    position:fixed;
    left: 0vw;
    right: 0vw;
    top: 0vw;
    max-width: 100%;
    text-align: center;
    padding: 20px;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav a {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.menuh a:hover {
    color: darkgrey;
}


/* Hero (sección de inicio) */
.hero {
    text-align: center;
    max-width: 100%;
    padding: 100px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
}

.image {
    max-width: 15%;
    max-height: auto;
    border: 3px solid #333;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.image.banner {
    max-width: 70%;
    max-height: auto;
    margin: 20px;
    border-radius: 7% 12%;
    -webkit-border-radius: 7% 12%;
    -moz-border-radius: 7% 12%;
    -ms-border-radius: 7% 12%;
    -o-border-radius: 7% 12%;
}

#inicio,#portafolio,#acerca,#contacto{
    padding: 40px;
}

#portafolio,#acerca{
    padding: 20px;
    margin-bottom: 20px;
}

/* Portafolio */
#portafolio {
    background-color: #fff;
}

.proyecto {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
}

.proyecto img {
    max-width: 100%;
    margin-bottom: 10px;
}

.proyecto h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.proyecto p {
    font-size: 16px;
}

.proyecto a {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
}

.proyecto a:hover {
    background-color: #555;
}

/* Acerca de mí */
#acerca {
    background-color: #fff;
}

.acerca-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.acerca-contenido img {
    max-width: 100%;
    margin-bottom: 20px;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

/* Formulario de contacto */
#contacto {
    min-height: 20vh;
    background:linear-gradient(rgba(53,53,53,0.20),rgba(53,53,53,0.20)),url(img/fondo-contacto.jpg) no-repeat center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-header {
    text-align: center;
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;

    width: 80%;
    margin: 10px auto;
    padding: 50px;
}

.form-header h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

/* ------------- Formulario ------------- */

.formulario {
    background-color: #f6f7f8;
    border: 1px solid #d6d9dc;
    border-radius: 3px;

    width: 80%;
    padding: 50px;
    margin: 30px 0 40px 0;
}

.form-row {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.form-row input[type="text"],
.form-row input[type="email"] {
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
}

.form-row label {
    margin-bottom: 3px;
    text-align: initial;
}

.form-row textarea {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    background-color: #bdbdbd;
    border: 0;
    border-radius: 6px;
    min-height: 200px;
    margin-bottom: 10px;
    padding: 7px;
    resize: none;
    width: 100%;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.form-row button {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #5995da;
    border: none;
    border-radius:3px;
    padding: 10px 40px;
    cursor: pointer;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
}

.form-row button:hover {
    background-color: #76aeed;
}

.form-row button:active {
    background-color: #407fc7;
}

/* ------------- Para Pantallas de más de 700px ------------- */
@media only screen and (min-width: 700px) {
    .form-header {
        padding: 50px;
    }

    .form-row {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .form-row input[type="text"] {
        width: 250px;
        height: initial;
    }

    .form-row label {
        text-align: right;
        width: 120px;
        margin-top: 7px;
        padding-right: 20px;
    }

    .form-row textarea {
        width: 250px;
    }

    .form-row button {
        margin-left: 120px;
    }
}

form button:hover {
    background-color: #555;
}

.alertas{
    color: red;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    max-width: 100%;
    text-align: center;
    padding: 20px 0;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer a {
    color: #fff;
}

ul#redes li a:hover {
    color: darkgray;
}